<header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class = "mt-3">
          <ul class="d-flex pl-0 justify-content-between align-items-center f-teko">
            <li>State agencies</li>
            <li>Crime Statistics</li>
            <li>The Colonel</li>
            <li>Battue</li>
            <li>Jail</li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-3 logo-wrapper">
        <img src="../../../../../assets/images/coat_of_arms.png" alt="coat of arms">
      </div>
      <div class="col-9 header-font pr-sm-5 pl-0">
        <h1 class="text-center mt-3">Texas police department</h1>
        <blockquote class="f-teko text-center">Our job is to keep neighborhoods safe.</blockquote>
      </div>
    </div>
  </div>
</header>
