<header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav>
          <ul class="d-flex justify-content-between">
            <li>State agencies</li>
            <li>Crime Statistics</li>
            <li>The Colonel</li>
            <li>Careers</li>
            <li>Jail</li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-4 logo-wrapper">
        <img src="../../../../../assets/images/coat_of_arms.jpg" alt="coat of arms">
      </div>
      <div class="col-8">
        <h1>Texas police department</h1>
        <blockquote>Our job is to keep neighborhoods safe.</blockquote>
      </div>
    </div>
  </div>
</header>
